.sec-1{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}


@keyframes example {
    0%{
        background-image: url('https://i.pinimg.com/originals/30/dc/e1/30dce1d324f948dc9abf942dac7ef122.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    25%{
        background-image: url('https://i.pinimg.com/736x/f1/d0/a0/f1d0a04bce665375e9ac5b64c4aa543b.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    50%{
        background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210115/pngtree-website-banner-abstract-purple-blue-gradient-background-image_519661.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    75%{
background-image: url('https://static.vecteezy.com/system/resources/previews/008/013/409/non_2x/technology-concept-for-web-banner-template-or-brochure-blue-colour-vector.jpg');
background-size: cover;
        background-repeat: no-repeat;
    
    }
    90%{
        background-image: url('https://static.vecteezy.com/system/resources/previews/007/623/233/non_2x/3d-illustration-education-tablet-with-education-icons-on-on-hi-tech-background-education-banner-vector.jpg');
        background-size: cover;
                background-repeat: no-repeat;
            
     }
}



https://i.pinimg.com/originals/30/dc/e1/30dce1d324f948dc9abf942dac7ef122.jpg